*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.canvas{
	width: 900px;
	height: 570px;
	text-align: center;
	background-color: black;
	border: 10px solid black;
	border-radius: 10px;
	background-size: 120% 100%;
	float: left;
	z-index: 0;
}

.ninja{
	margin-top: -20px;
	position: relative;
	transform: scale(0.7);
}

.intro{
	position: relative;
	padding: 20px;
	border: 5px solid maroon;
	text-decoration: none;
	background-color: black;
	color: maroon;
	border-radius: 20px;
}

.myintro {
    position: relative;
    top: -11%;
}

a{
	color:white;
	font-size: 30px;
}

h1{
	color: white
}

